<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="home">RUTA66</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-dark-link" aria-current="page" routerLink="home">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-dark-link" aria-current="page" routerLink="login">CATÁLOGO DE PRODUCTOS</a>
        </li>
      </ul>


      <div class="d-flex gap-3">
        <a class="nav-link nav-dark-link" routerLink="register">REGISTRARSE</a>
        <a class="nav-link nav-dark-link" routerLink="login">INICIAR SESIÓN</a>
      </div>
    </div>
  </div>
</nav>