<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">RUTA66</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PILOTO
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">CASCOS</a></li>
            <li><a class="dropdown-item" href="#">CHAQUETAS</a></li>
            <li><a class="dropdown-item" href="#">GUANTES</a></li>
            <li><a class="dropdown-item" href="#">IMPERMEABLES</a></li>
            <li><a class="dropdown-item" href="#">INTERCOMUNICADORES</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MOTOCICLETA
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">MALETEROS</a></li>
            <li><a class="dropdown-item" href="#">SLIDERS</a></li>
            <li><a class="dropdown-item" href="#">TAPAS LATERALES</a></li>
            <li><a class="dropdown-item" href="#">PARRILLA</a></li>
            <li><a class="dropdown-item" href="#">ALFORJAS</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            REPUESTOS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">DISCOS DE CLUTCH</a></li>
            <li><a class="dropdown-item" href="#">KIT DE ARRASTRE</a></li>
            <li><a class="dropdown-item" href="#">RINES</a></li>
            <li><a class="dropdown-item" href="#">ACEITES</a></li>
            <li><a class="dropdown-item" href="#">RODAMIENTOS</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>

      </ul>

      <div>
        <a class="nav-link active" aria-current="page" routerLink="register">REGISTRARSE</a>
        <a class="nav-link active" aria-current="page" routerLink="login">INICIAR SESIÓN</a>
      </div>
      
    </div>
  </div>
</nav>