<div class="container d-flex justify-content-end mt-4">
  <button (click)="logout()" class="btn btn-outline-danger logout-btn">
    <i class="bi bi-box-arrow-right"></i> Cerrar sesión
  </button>
</div>

<p *ngIf="productos.length === 0" class="text-center mt-4">
  No hay productos disponibles
</p>

<div class="container mt-4" *ngIf="productos.length > 0">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let p of productos">
      <div class="card product-card">
        <img [src]="getImageUrl(p.imagen)" class="card-img-top" [alt]="p.tipoProducto">
        <div class="card-body">
          <h5 class="card-title">{{p.tipoProducto}}</h5>
          <p class="card-text">
            Marca: {{ p.marcaProducto }}<br>
            Color: {{ p.colorProducto }}<br>
            <span class="precio">Precio: ${{ p.precioProducto }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

