

<div class="container text-center textoLogin">
        <label class="textoLogin" for="text">INICIA SESIÓN PARA INGRESAR A LA TIENDA</label>
</div>

<div class="container text-center contenedorLogin">
        <form [formGroup]="credentialForm" (ngSubmit)="handleSubmit()">
        <input type="text" 
                placeholder="Ingrese su Nombre"
                formControlName="username"
                > 
        <input type="password"
                placeholder="Ingrese su Contraseña" 
                formControlName="password"
                >
        <button type="submit"  value="Login">Ingresar</button>


        <div class="Olvidaste">
                <a [routerLink]="['/recover']" style="cursor: pointer; color: #007bff; text-decoration: underline;">
        ¿Olvidaste tu contraseña?
        </a>
        </div>
        </form>
</div>

