<form [formGroup]="credentialForm" (ngSubmit)="handleSubmit()">
    <input type="text" 
            placeholder="username"
            formControlName="username"
            > 
    <input type="password"
            placeholder="password" 
            formControlName="password"
            >
<button type="submit"  value="Login">Submit</button>


<div>
        <a [routerLink]="['/recover']" style="cursor: pointer; color: #007bff; text-decoration: underline;">
    ¿Olvidaste tu contraseña?
  </a>
</div>
</form>